<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.EmployeeDao">
	<!-- namespace 名称空间 ,用来绑定需要实现的接口
	-->
	
	
	
	
	
	<!-- 自定义返回的结果集  在列名和属性名不同时确保映射正确 -->
	<resultMap type="pojo.Employee" id="employee">
		<id column="id" property="id"/>
		<result column="last_name" property="lastName"/>
	</resultMap>
	<select id="getEmployeeByIdUseResultMap" resultMap="employee">
		select * from tbl_employee where id=#{id}
	</select>
	
	
	<select id="getEmployeeByLastNameLikeReturnMap" resultType="pojo.Employee">
		select * from tbl_employee where last_name like #{lastName}
	</select>
	
	<!-- MyBatis为常用的数据类型齐了别名 可直接填map -->
	<select id="getEmployeeByIdReturnMap" resultType="map">
		select * from tbl_employee where id=#{id}
	</select>
	
	<select id="getEmployeeByLastName" resultType="pojo.Employee">
		select * from tbl_employee where last_name=#{lastName}
	</select>
	
	<select id="getEmployeeByIdAndTableName" resultType="pojo.Employee">
		select * from ${tableName} where id=#{id}
	</select>
	
	<select id="getEmployeeByPojo" resultType="pojo.Employee">
		select * from tbl_employee 
		where id=#{id} and last_name=#{lastName}
	</select>
	
	<select id="getEmployeeByIdAndLastName" resultType="pojo.Employee">
		select * from tbl_employee 
		where id=#{id} and last_name=#{lastName}
	</select>
	
	<select id="getEmployeeById" resultType="pojo.Employee" databaseId="mysql">
		select * from tbl_employee where id=#{id}	
	</select>
	
	<insert id="addEmployee"  useGeneratedKeys="true" keyProperty="id">
		insert into tbl_employee(last_name,email,gender)
		value(#{lastName},#{email},#{gender})
	</insert>
	
	<update id="updateEmployee">
		update tbl_employee 
			set last_name=#{lastName},email=#{email},gender=#{gender}
			where id=#{id}
	</update>
	
	<delete id="deleteEmployeeById">
		delete from tbl_employee where id=#{id}
	</delete>
</mapper>

