<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 关联配置文件 -->
	<properties resource="dbconfig.properties"></properties>

	<!-- 开启驼峰命名法 将数据库列名转化为驼峰命名 -->
<!-- 	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/> 
	</settings> -->
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	
	<databaseIdProvider type="DB_VENDOR">  <!-- 给多种数据库起别名 使得MyBatis适应不同的数据库 -->
		<property name="MySQL" value="mysql"/>
		<property name="Oracle" value="oracle"/>
	</databaseIdProvider>
	
	<mappers>
		<mapper resource="pojo/EmployeeMapper.xml" />
		<mapper resource="pojo/EmployeePlusMapper.xml"/>
		<mapper resource="pojo/DepartmentMapper.xml"/>
		<mapper class="pojo.EmployeeMapperAnnotation"/> <!--基于注解的MySQL查询  -->
	</mappers>
</configuration>